body {
    background: #def0f3;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

body, p, div, a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.header {
    background: #def0f3 url(/img/header_bg.png) bottom center repeat-x;
    min-height: 172px;
    padding: 20px 0;
    width: 100%;
}

.header__logo {
    text-align: center;
}

.content {
    width: 75%;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #189eb4;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #189eb4;
    font-size: 2rem;
}

.button {
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05), inset 0 -3px 0 rgba(0, 0, 0, 0.08), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05), inset 0 -3px 0 rgba(0, 0, 0, 0.08), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05), inset 0 -3px 0 rgba(0, 0, 0, 0.08), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
}

.button--primary {
    color: #ffffff;
    background-color: #189eb4;
    border-color: #158a9e;
}

.button--large {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.hidden {
    display: none;
}
